*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box;
    font-family: "PT Serif", serif;
    font-style: italic; */
    .prociono-regular {
        font-family: "Prociono", serif;
        font-weight: 400;
        font-style: normal;
      }
      

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logoimg{
    height: 350px;
    width: 350px;
}
.navelinks{
    padding: 40px;
    margin-top: 30px;
}
.navelinks>a{
    margin-right: 40px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    transition: font-size 1s;
}
.navelinks>a:hover{
    font-size: 40px;

}
#home{
    display: grid;
    grid-template-columns: 50% 50%;
}
.imgcontainer>img{
    width: 100%;
}
.desc>a{
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 10px;
    text-decoration: none;
    width: fit-content;
    font-size: 30px;
    margin-top: 50px;
}
.imgcontainer{
    position: relative;
    top: -50px;
}

#img1{
    width: 100%;
}


#img2{
    width: 60%;
    position: absolute;
    top: 50px;;
    left: 56px;
    height: 100%
}
#button{
    top: 100%;
}
#username{
    color: blueviolet;
}
#about{
    padding: 30px;
    font-size: 30px;
}
#about>h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.abtcontainer{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#abtimg{
    width: 100%;
}
.Aboutinfo{
    padding-left: 30px;
    font-size: 30px;
}
.Aboutinfo>p{
    text-align: justify;
}
.Aboutinfo>ul{
    margin-top: 20px;
}

html{
    scroll-behavior: smooth;
}
.desc{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 20px;
}